.App {
  display: flex;
  gap: 10px;
}
.ant-btn.ant-btn-sm {
  font-size: 14px;
}
.input-div {
  width: 350px;
}
body {
  margin: 0;
}
h1 {
  margin: 0 !important;
}
h3 {
  margin: 0 !important;
}
h5 {
  margin: 0 !important;
}
p {
  margin: 0 !important;
}
