.header {
  width: 100%;
  height: 78px;
  padding: 0px 124px;
  position: fixed;
  display: flex;
  background-color: #ffffff;
  z-index: 999;
}
.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  gap: 16px;
  height: 100%;
  padding-top: 24px;
}
.menu-list li {
  cursor: pointer;
}
.list-active {
  border-bottom: 4px solid #4640de;
}
.menu-list li:hover {
  border-bottom: 4px solid #4640de;
}
.logo {
  padding: 21px 0px;
}
.header-left {
  display: inline-flex;
  gap: 48px;
}
.btn-login {
  color: #4640de;
  border: none;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}
.header-right {
  display: flex;
  gap: 16px;
  flex: 1;
  justify-content: flex-end;
  padding: 16px;
}
